* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: black;
  background: rgb(219, 181, 187);
  font-size: 20px;
}

/* <main> */
main {
  display: block;
  margin: 0 auto;
  width: 95%;
}

fieldset {
  margin: 30px 0;
  padding-bottom: 20px;
}
fieldset input {
  cursor: pointer;
}

#final-answer-Btn {
  display: block;
  margin: 30px auto;
  border: none;
  width: 150px;
  height: 60px;
  background: white;
  font-size: 18px;
}
#final-answer-Btn:hover,
#final-answer-Btn:active {
  background: black;
  color: white;
}

/* <article> */

#boxScore {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: 480px;
  width: 350px;
  border-radius: 6px;
  box-shadow: 0px 0px 6px 2px gray;
  background-color: white;
  color: black;

  text-align: center;
}

article h2 {
  margin-top: 30px;
  font-size: 30px;
}
article p {
  font-size: 20px;
}
#score {
  border: 1px solid black;
  width: 80%;
  height: 50%;
  margin: 40px auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* modal */

.modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: 500px;
  width: 350px;
  border-radius: 6px;
  box-shadow: 0px 0px 6px 2px gray;
  background-color: rgb(176, 213, 228);
  color: black;

  text-align: center;
}

.close-modal-btn-container {
  text-align: right;
  margin: 9px;
}

#modal-close-btn {
  font-size: 22px;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid transparent;
  color: whitesmoke;
}

.modal-close-btn:hover,
.modal-close-btn:active {
  color: black;
  cursor: pointer;
}

#modal-close-btn:disabled {
  color: black;
  opacity: 0.2;
  cursor: not-allowed;
}

.modal-title {
  font-size: 30px;
  margin: 0 0 10px 0;
}

#modal-text,
#inner-text {
  margin: 20px 0 20px 0;
  font-size: 20px;
}

#email,
#name,
#number {
  margin-top: 15px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  width: 80%;
  font-size: 18px;
}

#modal-submit-btn,
#modal-reset-btn {
  padding: 10px 24px;
  border: none;
  border-radius: 5px;
  margin: 20px 10px;
  background: white;
}
#modal-submit-btn:hover,
#modal-reset-btn:hover {
  background: black;
  color: white;
}

.loading {
  width: 60%;
  margin-top: 5px;
}

#last-text {
  display: block;
  margin: 0 auto;
  width: 80%;
}

@media (min-width: 500px) {
  body {
    font-size: 25px;
  }

  #final-answer-Btn {
    width: 200px;
    height: 80px;
    font-size: 25px;
  }

  #boxScore {
    height: 500px;
    width: 400px;
  }

  .modal {
    height: 570px;
    width: 400px;
  }

  #modal-close-btn {
    font-size: 30px;
    margin: 10px;
  }

  .modal-title {
    font-size: 35px;
    margin: 0 0 10px 0;
  }

  #modal-text,
  #inner-text {
    margin: 20px 0 20px 0;
    font-size: 25px;
  }

  .modal-innertitle {
    font-size: 35px;
    width: 95%;
    display: block;
    margin: 20px auto;
  }
}
