* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: black;
  background: rgb(219, 181, 187);
  font-size: 18px;
}

main {
  margin-left: 30px;
}

fieldset {
  margin: 30px 0;
  padding-bottom: 20px;
}
fieldset input {
  cursor: pointer;
}

#final-answer {
  display: block;
  margin: 30px auto;
  border: none;
  width: 150px;
  height: 60px;
  background: white;
  font-size: 18px;
}
#final-answer:hover,
#final-answer:active {
  background: black;
  color: white;
}

/* modal */

.modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: 450px;
  width: 350px;
  border-radius: 6px;
  box-shadow: 0px 0px 6px 2px black;
  background-color: skyblue;
  color: black;

  text-align: center;
}

.close-modal-btn-container {
  text-align: right;
  margin: 9px;
}

#modal-close-btn {
  font-size: 22px;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid transparent;
  color: whitesmoke;
}

.modal-close-btn:hover,
.modal-close-btn:active {
  color: black;
  cursor: pointer;
}

#modal-close-btn:disabled {
  color: black;
  opacity: 0.2;
  cursor: not-allowed;
}

.modal-title {
  font-size: 25px;
  margin: 0 0 10px 0;
}

#modal-text,
#inner-text {
  margin: 20px 0 20px 0;
  font-size: 18px;
}

.content-form input {
  margin-top: 15px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  width: 80%;
}

#modal-submit-btn,
#modal-reset-btn {
  padding: 10px 24px;
  border: none;
  border-radius: 5px;
  margin: 20px 10px;
  background: white;
}
#modal-submit-btn:hover,
#modal-reset-btn:hover {
  background: black;
  color: white;
}

.loading {
  width: 60%;
  margin-top: 5px;
}

#last-text {
  display: block;
  margin: 0 auto;
  width: 80%;
}
